
* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

body,
html {
    height: 100vh;
    width: 100vw;
}


h2 {
    text-align: center;
}



.box-shadow {
    -webkit-box-shadow: -1px 7px 23px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 7px 23px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 7px 23px -10px rgba(0, 0, 0, 0.75);
}

.main-body-grid {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    height: 100%;
    grid-row-gap: 1em;

}
.r3{
color:#F4F1BB;
}
.r1,
.r3 {
    display: grid;
    background-color:#9BC1BC;
    width: 100%;
    grid-row-gap: 1em;
}

.r3 {
    text-align: center;
}

.middle-bar {
    padding: 80px 20%;
    height: 100%;
    margin: 0px auto;
    width: 50%;

}

.two-column {
    display: grid;
    grid-template-columns: 2fr 11fr 2fr;
    height: 100%;
    grid-row-gap: 1em;
    padding: 0px 20px;
}

.c1>ul {
    list-style-type: none;

}

.c1>ul>li>a {
    text-decoration: none;
    display: block;
    padding: 15px 0px 15px 30px;
    color: black;
}

.c1>ul>li>a:hover {
    background-color: #c1c1c1
}
.form{
    width: 500px;
    height:500px;
    margin: 100px auto;
}
.form-input{
    width: 90%;
    padding: 10px;
   margin:2px;
   
}
.submit-button{
   
    padding: 10px 40px;
    margin-right: 25px;
   float:right;
    margin-top:12px;
}

    
.logo {
    height: 50px;
    width: 50px;
}
